.DiaryEditor {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.DiaryEditor input,
.DiaryEditor textarea {
  width: 60%;
  margin-bottom: 20px;
}
.DiaryEditor .score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.DiaryEditor select {
  width: 10%;
}
.DiaryEditor button {
  width: 30%;
  padding: 10px;
}

/* DiaryList */
.diaryList {
  border: 1px solid #ccc;
  padding: 20px;
}

.diaryList h2 {
  text-align: center;
}

.DiaryItem {
  background-color: #eee;
  padding: 20px;
}

.DiaryItem .date {
  display: block;
  margin-top: 10px;
  color: gray;
}
